*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.gallery{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}

.gallery img{
    max-width: 200px;
    margin: 20px;
}